<a href="https://colab.research.google.com/github/jesusrevilla/mineria-de-datos/blob/main/primer-parcial/10_minutes_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 10 minutes to pandas   
[Referencia](https://pandas.pydata.org/pandas-docs/version/1.3/user_guide/10min.html)

In [1]:
import numpy as np
import pandas as pd

Creación de Objetos

Crear una `Series` pasando una lista de valores, dejando que pandas cree el índice entero por defecto

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creando un `DataFrame`pasando un arreglo de Numpy, con un índice `datetime` y nombres de columnas

In [7]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -0.555056 -0.705508  1.873881  0.768887
2013-01-02  1.880186 -1.227015 -0.073405 -0.256471
2013-01-03  0.208087 -0.138189  0.173231 -1.201815
2013-01-04 -0.521747  1.964468 -0.258599  1.417918
2013-01-05 -1.206785 -0.434811 -1.266266 -1.050509
2013-01-06 -0.426924  1.245972 -0.331731 -1.491287

Crear un `DataFrame`pasando un diccionario de objetos que puede ser convertido a una forma parecida de `series`.

In [12]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

Las columnas resultantes del `Dataframe` tienen distintos tipos

In [13]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [14]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

Viendo datos

In [15]:
df.head()

                   A         B         C         D
2013-01-01 -0.555056 -0.705508  1.873881  0.768887
2013-01-02  1.880186 -1.227015 -0.073405 -0.256471
2013-01-03  0.208087 -0.138189  0.173231 -1.201815
2013-01-04 -0.521747  1.964468 -0.258599  1.417918
2013-01-05 -1.206785 -0.434811 -1.266266 -1.050509

In [16]:
df.tail()

                   A         B         C         D
2013-01-02  1.880186 -1.227015 -0.073405 -0.256471
2013-01-03  0.208087 -0.138189  0.173231 -1.201815
2013-01-04 -0.521747  1.964468 -0.258599  1.417918
2013-01-05 -1.206785 -0.434811 -1.266266 -1.050509
2013-01-06 -0.426924  1.245972 -0.331731 -1.491287

In [17]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [20]:
df.to_numpy()

array([[-0.55505617, -0.70550765,  1.87388071,  0.76888667],
       [ 1.88018631, -1.22701472, -0.07340526, -0.25647144],
       [ 0.20808693, -0.13818852,  0.17323121, -1.20181512],
       [-0.52174675,  1.9644678 , -0.25859908,  1.41791764],
       [-1.20678531, -0.43481079, -1.26626634, -1.05050937],
       [-0.42692428,  1.24597176, -0.33173129, -1.49128748]])

In [21]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.103707  0.117486  0.019518 -0.302213
std    1.070773  1.228025  1.031978  1.173995
min   -1.206785 -1.227015 -1.266266 -1.491287
25%   -0.546729 -0.637833 -0.313448 -1.163989
50%   -0.474336 -0.286500 -0.166002 -0.653490
75%    0.049334  0.899932  0.111572  0.512547
max    1.880186  1.964468  1.873881  1.417918

In [22]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.555056    1.880186    0.208087   -0.521747   -1.206785   -0.426924
B   -0.705508   -1.227015   -0.138189    1.964468   -0.434811    1.245972
C    1.873881   -0.073405    0.173231   -0.258599   -1.266266   -0.331731
D    0.768887   -0.256471   -1.201815    1.417918   -1.050509   -1.491287

In [23]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.768887  1.873881 -0.705508 -0.555056
2013-01-02 -0.256471 -0.073405 -1.227015  1.880186
2013-01-03 -1.201815  0.173231 -0.138189  0.208087
2013-01-04  1.417918 -0.258599  1.964468 -0.521747
2013-01-05 -1.050509 -1.266266 -0.434811 -1.206785
2013-01-06 -1.491287 -0.331731  1.245972 -0.426924

In [24]:
df.sort_values(by="B")

                   A         B         C         D
2013-01-02  1.880186 -1.227015 -0.073405 -0.256471
2013-01-01 -0.555056 -0.705508  1.873881  0.768887
2013-01-05 -1.206785 -0.434811 -1.266266 -1.050509
2013-01-03  0.208087 -0.138189  0.173231 -1.201815
2013-01-06 -0.426924  1.245972 -0.331731 -1.491287
2013-01-04 -0.521747  1.964468 -0.258599  1.417918

Selección

In [25]:
df["A"]

2013-01-01   -0.555056
2013-01-02    1.880186
2013-01-03    0.208087
2013-01-04   -0.521747
2013-01-05   -1.206785
2013-01-06   -0.426924
Freq: D, Name: A, dtype: float64

Rebanadas de renglones

In [26]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.555056 -0.705508  1.873881  0.768887
2013-01-02  1.880186 -1.227015 -0.073405 -0.256471
2013-01-03  0.208087 -0.138189  0.173231 -1.201815

In [27]:
df["20130102":"20130104"]

                   A         B         C         D
2013-01-02  1.880186 -1.227015 -0.073405 -0.256471
2013-01-03  0.208087 -0.138189  0.173231 -1.201815
2013-01-04 -0.521747  1.964468 -0.258599  1.417918

Selección por etiqueta

In [28]:
df.loc[dates[0]]

A   -0.555056
B   -0.705508
C    1.873881
D    0.768887
Name: 2013-01-01 00:00:00, dtype: float64

In [39]:
df.loc[ "20130102":"20130104", ['A', 'B']]

                   A         B
2013-01-02  1.880186 -1.227015
2013-01-03  0.208087 -0.138189
2013-01-04 -0.521747  1.964468

Reducción de dimensión

In [40]:
df.loc["20130102", ['A', 'B']]

A    1.880186
B   -1.227015
Name: 2013-01-02 00:00:00, dtype: float64

Para obtener un valor escalar

In [41]:
df.loc[dates[0], 'A']

np.float64(-0.5550561673489578)

In [42]:
df.at[dates[0], 'A']

np.float64(-0.5550561673489578)

Seleccionando por posición

In [43]:
df.iloc[3]

A   -0.521747
B    1.964468
C   -0.258599
D    1.417918
Name: 2013-01-04 00:00:00, dtype: float64

In [44]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04 -0.521747  1.964468
2013-01-05 -1.206785 -0.434811

In [45]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2013-01-02  1.880186 -0.073405
2013-01-03  0.208087  0.173231
2013-01-05 -1.206785 -1.266266

Por rebanadas explícitas

In [46]:
df.iloc[1:3, :]

                   A         B         C         D
2013-01-02  1.880186 -1.227015 -0.073405 -0.256471
2013-01-03  0.208087 -0.138189  0.173231 -1.201815

In [47]:
df.iloc[:, 1:3]

                   B         C
2013-01-01 -0.705508  1.873881
2013-01-02 -1.227015 -0.073405
2013-01-03 -0.138189  0.173231
2013-01-04  1.964468 -0.258599
2013-01-05 -0.434811 -1.266266
2013-01-06  1.245972 -0.331731

Para obtener un valor explícitamente

In [49]:
df.iloc[1, 1]

np.float64(-1.2270147177236055)

In [50]:
df.iat[1, 1]

np.float64(-1.2270147177236055)

Indexado Booleano

In [51]:
df[df["A"] > 0]

                   A         B         C         D
2013-01-02  1.880186 -1.227015 -0.073405 -0.256471
2013-01-03  0.208087 -0.138189  0.173231 -1.201815

Seleccionado valores de un `DataFrame` donde se cumple una condición booleana

In [52]:
df[df > 0]

                   A         B         C         D
2013-01-01       NaN       NaN  1.873881  0.768887
2013-01-02  1.880186       NaN       NaN       NaN
2013-01-03  0.208087       NaN  0.173231       NaN
2013-01-04       NaN  1.964468       NaN  1.417918
2013-01-05       NaN       NaN       NaN       NaN
2013-01-06       NaN  1.245972       NaN       NaN

Utilizando el método `isin()` para filtrar

In [53]:
df2 = df.copy()
df2["E"] = ['one', 'one', 'two', 'three', 'four', 'three']

In [54]:
df2

                   A         B         C         D      E
2013-01-01 -0.555056 -0.705508  1.873881  0.768887    one
2013-01-02  1.880186 -1.227015 -0.073405 -0.256471    one
2013-01-03  0.208087 -0.138189  0.173231 -1.201815    two
2013-01-04 -0.521747  1.964468 -0.258599  1.417918  three
2013-01-05 -1.206785 -0.434811 -1.266266 -1.050509   four
2013-01-06 -0.426924  1.245972 -0.331731 -1.491287  three

In [55]:
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2013-01-03  0.208087 -0.138189  0.173231 -1.201815   two
2013-01-05 -1.206785 -0.434811 -1.266266 -1.050509  four

Asignando una columna automaticamente alinea los datos por los índices

In [56]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [57]:
df['F'] = s1

In [58]:
df

                   A         B         C         D    F
2013-01-01 -0.555056 -0.705508  1.873881  0.768887  NaN
2013-01-02  1.880186 -1.227015 -0.073405 -0.256471  1.0
2013-01-03  0.208087 -0.138189  0.173231 -1.201815  2.0
2013-01-04 -0.521747  1.964468 -0.258599  1.417918  3.0
2013-01-05 -1.206785 -0.434811 -1.266266 -1.050509  4.0
2013-01-06 -0.426924  1.245972 -0.331731 -1.491287  5.0

Asignando valores por etiqueta

In [59]:
df.at[dates[0], 'A'] = 0
df

                   A         B         C         D    F
2013-01-01  0.000000 -0.705508  1.873881  0.768887  NaN
2013-01-02  1.880186 -1.227015 -0.073405 -0.256471  1.0
2013-01-03  0.208087 -0.138189  0.173231 -1.201815  2.0
2013-01-04 -0.521747  1.964468 -0.258599  1.417918  3.0
2013-01-05 -1.206785 -0.434811 -1.266266 -1.050509  4.0
2013-01-06 -0.426924  1.245972 -0.331731 -1.491287  5.0

Asignando valores por posición

In [60]:
df.iat[0, 1] = 0
df

                   A         B         C         D    F
2013-01-01  0.000000  0.000000  1.873881  0.768887  NaN
2013-01-02  1.880186 -1.227015 -0.073405 -0.256471  1.0
2013-01-03  0.208087 -0.138189  0.173231 -1.201815  2.0
2013-01-04 -0.521747  1.964468 -0.258599  1.417918  3.0
2013-01-05 -1.206785 -0.434811 -1.266266 -1.050509  4.0
2013-01-06 -0.426924  1.245972 -0.331731 -1.491287  5.0

Asignando por relación a un arreglo NumPy

In [61]:
df.loc[:, 'D'] = np.array([5] * len(df))
df

                   A         B         C    D    F
2013-01-01  0.000000  0.000000  1.873881  5.0  NaN
2013-01-02  1.880186 -1.227015 -0.073405  5.0  1.0
2013-01-03  0.208087 -0.138189  0.173231  5.0  2.0
2013-01-04 -0.521747  1.964468 -0.258599  5.0  3.0
2013-01-05 -1.206785 -0.434811 -1.266266  5.0  4.0
2013-01-06 -0.426924  1.245972 -0.331731  5.0  5.0

In [62]:
df2 = df.copy()

In [63]:
df2[df2 > 0] = -df2
df2

                   A         B         C    D    F
2013-01-01  0.000000  0.000000 -1.873881 -5.0  NaN
2013-01-02 -1.880186 -1.227015 -0.073405 -5.0 -1.0
2013-01-03 -0.208087 -0.138189 -0.173231 -5.0 -2.0
2013-01-04 -0.521747 -1.964468 -0.258599 -5.0 -3.0
2013-01-05 -1.206785 -0.434811 -1.266266 -5.0 -4.0
2013-01-06 -0.426924 -1.245972 -0.331731 -5.0 -5.0

Datos Faltantes

In [64]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0] : dates[1], 'E'] = 1
df1

                   A         B         C    D    F    E
2013-01-01  0.000000  0.000000  1.873881  5.0  NaN  1.0
2013-01-02  1.880186 -1.227015 -0.073405  5.0  1.0  1.0
2013-01-03  0.208087 -0.138189  0.173231  5.0  2.0  NaN
2013-01-04 -0.521747  1.964468 -0.258599  5.0  3.0  NaN

Para remover los renglones que les falten datos

In [65]:
df1.dropna(how='any')

                   A         B         C    D    F    E
2013-01-02  1.880186 -1.227015 -0.073405  5.0  1.0  1.0

Para rellenar datos faltantes

In [67]:
df1.fillna(value=5)

                   A         B         C    D    F    E
2013-01-01  0.000000  0.000000  1.873881  5.0  5.0  1.0
2013-01-02  1.880186 -1.227015 -0.073405  5.0  1.0  1.0
2013-01-03  0.208087 -0.138189  0.173231  5.0  2.0  5.0
2013-01-04 -0.521747  1.964468 -0.258599  5.0  3.0  5.0

Para obtener una máscara booleana donde los valores son `nan

In [68]:

pd.isna(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

Operaciones

Estadísticas

En general excluyen datos faltantes

In [70]:
df.mean()

A   -0.011197
B    0.235071
C    0.019518
D    5.000000
F    3.000000
dtype: float64

La misma operación en el otro eje

In [71]:
df.mean(1)

2013-01-01    1.718470
2013-01-02    1.315953
2013-01-03    1.448626
2013-01-04    1.836824
2013-01-05    1.218428
2013-01-06    2.097463
Freq: D, dtype: float64

Operado con objetos que tienen diferente dimensionalidad y necesitan alineación, pandas realiza un `broadcast` automático a lo largo de una dimesión específica.

In [72]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [73]:
df.sub(s, axis='index')

                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03 -0.791913 -1.138189 -0.826769  4.0  1.0
2013-01-04 -3.521747 -1.035532 -3.258599  2.0  0.0
2013-01-05 -6.206785 -5.434811 -6.266266  0.0 -1.0
2013-01-06       NaN       NaN       NaN  NaN  NaN

Aplicar   

Aplicar funciones a los datos

In [74]:
df.apply(np.cumsum)

                   A         B         C     D     F
2013-01-01  0.000000  0.000000  1.873881   5.0   NaN
2013-01-02  1.880186 -1.227015  1.800475  10.0   1.0
2013-01-03  2.088273 -1.365203  1.973707  15.0   3.0
2013-01-04  1.566526  0.599265  1.715108  20.0   6.0
2013-01-05  0.359741  0.164454  0.448841  25.0  10.0
2013-01-06 -0.067183  1.410426  0.117110  30.0  15.0

In [75]:
df.apply(lambda x: x.max() - x.min())

A    3.086972
B    3.191483
C    3.140147
D    0.000000
F    4.000000
dtype: float64

Histogramas

In [77]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    0
1    5
2    4
3    6
4    0
5    1
6    6
7    3
8    6
9    2
dtype: int64

In [78]:
s.value_counts()

6    3
0    2
5    1
4    1
1    1
3    1
2    1
Name: count, dtype: int64

Métodos de cadenas de caracteres

In [79]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [80]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

Merge (Unir)

Concat

In [81]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0  1.607877 -0.534788  0.129547  1.078441
1 -0.087915 -1.340486  0.250751 -0.245172
2 -1.334184  0.124106  0.709323 -0.541975
3  1.535465 -0.415958 -0.942801  1.810155
4 -0.224094 -0.422599 -0.619635 -2.162208
5 -0.015667 -1.371803 -0.617859 -0.357612
6  0.498132 -0.248260  0.491478  0.677299
7  1.063290 -0.688379 -1.193014 -1.254194
8 -0.279897  0.062727  1.311797  0.807046
9 -0.217858  1.212829 -1.252100  0.811877

In [82]:
# Rompiedo el DataFrame en piezas
pieces = [df[:3], df[3: 7], df[7:]]
pieces

[          0         1         2         3
 0  1.607877 -0.534788  0.129547  1.078441
 1 -0.087915 -1.340486  0.250751 -0.245172
 2 -1.334184  0.124106  0.709323 -0.541975,
           0         1         2         3
 3  1.535465 -0.415958 -0.942801  1.810155
 4 -0.224094 -0.422599 -0.619635 -2.162208
 5 -0.015667 -1.371803 -0.617859 -0.357612
 6  0.498132 -0.248260  0.491478  0.677299,
           0         1         2         3
 7  1.063290 -0.688379 -1.193014 -1.254194
 8 -0.279897  0.062727  1.311797  0.807046
 9 -0.217858  1.212829 -1.252100  0.811877]

In [83]:
pd.concat(pieces)

          0         1         2         3
0  1.607877 -0.534788  0.129547  1.078441
1 -0.087915 -1.340486  0.250751 -0.245172
2 -1.334184  0.124106  0.709323 -0.541975
3  1.535465 -0.415958 -0.942801  1.810155
4 -0.224094 -0.422599 -0.619635 -2.162208
5 -0.015667 -1.371803 -0.617859 -0.357612
6  0.498132 -0.248260  0.491478  0.677299
7  1.063290 -0.688379 -1.193014 -1.254194
8 -0.279897  0.062727  1.311797  0.807046
9 -0.217858  1.212829 -1.252100  0.811877

Join

In [84]:
left =  pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
left

   key  lval
0  foo     1
1  foo     2

In [85]:
right = pd.DataFrame({'key':['foo', 'foo'], 'rval':[4, 5]})
right

   key  rval
0  foo     4
1  foo     5

In [86]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

Another example

In [87]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
left

   key  lval
0  foo     1
1  bar     2

In [88]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval':[4, 5]})
right

   key  rval
0  foo     4
1  bar     5

In [89]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

Grouping

In [90]:
df = pd.DataFrame(
    {
        'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
        'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
        'C': np.random.randn(8),
        'D': np.random.randn(8),
    }
)

df

     A      B         C         D
0  foo    one -0.262279  0.652264
1  bar    one -2.392781 -1.378514
2  foo    two -1.073280  0.418949
3  bar  three  0.978259  0.048657
4  foo    two  0.733883 -0.702518
5  bar    two -0.691612  0.685348
6  foo    one  0.303737 -0.096369
7  foo  three  0.960483  0.440403

In [92]:
df.groupby('A').sum()

                     B         C         D
A
bar        onethreetwo -2.106134 -0.644509
foo  onetwotwoonethree  0.662544  0.712729

In [93]:
df.groupby(['A', 'B']).sum()

                  C         D
A   B
bar one   -2.392781 -1.378514
    three  0.978259  0.048657
    two   -0.691612  0.685348
foo one    0.041457  0.555895
    three  0.960483  0.440403
    two   -0.339397 -0.283569

In [ ]:
]